<h1>IELTS Writing Task2<h1>
<div>
  <%= form_with model: @exam do |form| %>
    <%= render 'shared/error_messages' %>
    <div>
      <p class="question"><%= @exam.question %></p>
      <%= form.hidden_field :question %>
      <%= form.text_area :answer, id: "post_answer", class: "txt-box-answer" %>
      <span id="word_count">0</span>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
</div>
