<h1>IELTS Writing Task2<h1>
<div>
  <%= form_with model: @exam do |form| %>
    <%= render 'shared/error_messages' %>
    <div>
      <%= form.label :question %>
      <%= tag.p @question, disabled: true %>
    </div>
    <div>
      <%= form.text_area :answer %>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
</div>
<p><%= link_to 'Home', exams_path %></p>