<h1>IELTS Writing Task2</h1>
<div>
  <%= form_with model: @exam do |form| %>
    <%= render 'shared/error_messages' %>
    <div>
      <p class="question"><%= @exam.question %></p>
      <%= form.hidden_field :question %>
      <%= form.text_area :answer, id: "post_answer", class: "txt-box-answer" %>
      <p id="word_count">0</p>
      <div>
        <p id="timer">40:00</p>
        <input id="startBtn" type="button" value="Start">
        <input id="stopBtn" type="button" value="Stop">
      </div>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
</div>
