<h1>Result</h1>
<h2>Question</h2>
<p><%= @exam.question %></p>
<h2>Answer</h2>
<p><%= @exam.answer %></p>
<h2>Review</h2>
<p><%= @exam.review %></p>
<h2>Took at</h2>
<p><%= @exam.created_at %></p>
<%= render 'shared/like_stats' %>
<%= render 'like_form' if user_signed_in? %>
<p><%= link_to 'Home', exams_path %></p>
