<!DOCTYPE html>
<html>
  <head>
    <title>GPT IELTS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "GPT IELTS", root_path, class: "logo" %>
      <nav>
        <li><%= link_to "History", exams_path %></li>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
